<launch>
  <!-- Launch the robot and world from the my_robot package -->
  <include file="$(find my_robot)/launch/world.launch"/>
  
  <!-- Argument for the map file -->
  <arg name="map_file" default="$(find ball_chaser)/maps/map.yaml"/>
  
  <!-- Map server node -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- AMCL Node -->
  <node name="amcl" pkg="amcl" type="amcl" output="screen">
    <remap from="scan" to="/scan"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="robot_footprint"/>
    <param name="global_frame_id" value="map"/>
    <!-- If you choose to define initial pose here -->
    <param name="initial_pose_x" value="5"/>
    <param name="initial_pose_y" value="5"/>
    
    <!-- Particle Filter -->
    <param name="min_particles" value="500"/> 
    <param name="max_particles" value="2000"/>
    <param name="update_min_d" value="0.2"/> 
    <param name="update_min_a" value="0.1"/> 

    <!-- Laser Parameters -->
    <param name="laser_max_beams" value="60"/> <!-- laser resolution -->
    <param name="laser_max_range" value="10.0"/> 
    <param name="laser_z_hit" value="0.95"/> <!-- Probability for correct scan -->
    <param name="laser_z_rand" value="0.05"/> <!-- Probability for noise -->
    <param name="laser_sigma_hit" value="0.2"/> <!-- SD for hit model -->
    <param name="laser_lambda_short" value="0.1"/> <!-- short reading model -->

    <!-- Motion Model -->
    <param name="odom_alpha1" value="0.2"/> <!-- Rotational noise -->
    <param name="odom_alpha2" value="0.2"/> <!-- Translational noise 4 rotation -->
    <param name="odom_alpha3" value="0.2"/> <!-- Translational noise -->
    <param name="odom_alpha4" value="0.2"/> <!-- Rotational noise 4 translation -->
  </node>
    

  <!-- Move Base -->
  <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
    <remap from="scan" to="/scan"/>
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    <rosparam file="$(find ball_chaser)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find ball_chaser)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find ball_chaser)/config/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find ball_chaser)/config/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find ball_chaser)/config/base_local_planner_params.yaml" command="load"/>
  </node>
  
  
</launch>

